.idea
.vscode
.zed
upload
*.exe
*.db
build
*.db-journal
logs
web/dist
.env
one-api
new-api
/__debug_bin*
.DS_Store
tiktoken_cache
.eslintcache
.history
node_modules
.claude
electron/node_modules
electron/dist
.gocache
.cache
web/bun.lock

data/
.pprof
